pandas==2.2.0
streamlit==1.50.0
catboost==1.2.8
openpyxl==3.1.5
shap==0.48.0
matplotlib==3.9.4
safetensors==0.6.2
scikit-learn==1.6.1
fairlearn==0.12.0
joblib==1.5.2
xgboost==2.1.4
numpy==1.26.4
transformers==4.57.0
seaborn==0.13.2
tensorflow==2.20.0
